@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400);


.num2, .soc_icons > li > a, .more_btn, .camera_wrap .camera_pag .camera_pag_ul li span{ behavior:url(js/PIE.htc); position:relative;}
#back-top { behavior:url(js/PIE.htc);}

a.magnifier2:hover .zoom{
	display: block;
}
a.magnifier2 .zoom, .bottom_p{
	display: none;
}
body{
	min-width: 1143px;
}

#contact-form input,
#contact-form textarea {
	overflow: hidden;
}
/* Localized */